body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
#para1{
    display: flex;
    justify-content: center;
}
.gameCard{
    display: flex;
    flex-direction: column;
    flex:1 0 auto;
    align-items:center;
    
}
.player{
    font-size:35px;
    margin:10px auto;
}
button{
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #F99B7D;
}
.score{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: coral;
    border-radius: 10px;
    text-align:center;
    margin: auto;
    font-size:40px;
}
.win{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.winner1{
    flex:1 0 auto;
    text-align: center;
    font-size: 40px;
}
.winner2{
    height:80px;
    width: 150px;
    border-radius: 10px;
    background-color: #F99B7D;
    font-size: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}